################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cookbook/FileContentIndex/ecdb3b62-12c3-4231-ab66-a40cbbb93fa8.vsidx
/.vs/Cookbook/v17/.suo
/.vs/Cookbook/FileContentIndex/707aad80-3d02-4ea1-8f86-a8620a82bb94.vsidx
/.vs/Cookbook/FileContentIndex/4d33330c-4276-441d-a8f7-5536c8fbb07d.vsidx
/.vs/Cookbook/FileContentIndex/1fafbd81-6573-45a6-9cba-5893d2c3996c.vsidx
/Cookbook/obj/Debug/net6.0/Cookbook.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Cookbook/FileContentIndex/54425038-c798-4974-9b25-59060fdba613.vsidx
/.vs/Cookbook/FileContentIndex/499add9e-bea6-4a1c-9ef9-a50bee4bf81e.vsidx
/.vs/Cookbook/FileContentIndex/abc468a5-5b27-4d57-a49c-5ab2916cedbf.vsidx
/.vs/Cookbook/v17/.suo
