################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cookbook/FileContentIndex/ecdb3b62-12c3-4231-ab66-a40cbbb93fa8.vsidx
/.vs/Cookbook/v17/.suo
/.vs/Cookbook/FileContentIndex/707aad80-3d02-4ea1-8f86-a8620a82bb94.vsidx
